@model List<Kategori>
@{
    Layout="~/Views/Shared/_AdminLeyout.cshtml";
    ViewData["Title"] = "Index";
}
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>adı</th>
        <th>Sil</th>
        <th>guncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.KategoriID</td>
            <td>@item.KategoriAd</td>
            <td><a href="/Kategori/KategoriSil/@item.KategoriID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kategori/KategoriGetir/@item.KategoriID" class="btn btn-success">guncelle</a></td>
        </tr>
    }
   
</table>
<a href="/Kategori/KategoriEkle" class="btn btn-primary"> yeni kategori</a>