@{
    Layout="~/Views/Shared/_AdminLeyout.cshtml";
    ViewData["Title"] = "KategoriEkle";
}
<form method="post" action="/Kategori/KategoriEkle">
    <div class="form-group">
        <label for="exampleInputEmail1">Kategori Adı</label>
        <input type="text" class="form-control" name="KategoriAd" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>